body {
    background-color: white;
}

.main {
    width: 280px;
    margin: auto;
}

table {
    background: #111;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 280px;
    border: 1px solid black;
    margin: auto;
}

.cell-white {
    background-color: white;
    background-repeat: no-repeat;
}

.cell-black {
    background-color: SlateGray;
    background-repeat: no-repeat;
}

.medium {
    color: #232231;
    margin: 5px;
}

.title {
    margin-bottom: 5px;
}

.id {
    border: black solid 1px;
    padding: 1px;
}

.soft {
    color: #3F3939;
    margin-top: 10px;
    margin-bottom: 9px;
}

.icon {
    margin-top: 1px;
}

.counter {
    background-color: white;
    margin: 2px;
    border: black solid 2px;
}
