body {
    background-color: white;
}

.main {
    width: 280px;
    margin: auto;
}

table {
    background: #111;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 280px;
    border: 1px solid black;
    margin: auto;
}

.cell-white {
    background-color: white;
    background-repeat: no-repeat;
}

.cell-black {
    background-color: SlateGray;
    background-repeat: no-repeat;
}

.medium {
    color: #232231;
}

.soft {
    color: #3F3939;
}

.link {
    color: DarkSlateGray;
}
