h1, h2, h3 {
  color: #000;
}

body {
    background-color: white;
}

h1 {
  font-size: 2.5em
}

table {
    background: #111;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 270px;
    border: 1px solid black
}

.stage {
    margin: 10px;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 2;
}

.cell-white {
    background-color: white;
    background-repeat: no-repeat;
}

.cell-black {
    background-color: SlateGray;
    background-repeat: no-repeat;
}
